body {
    font-family: Quicksand, sans-serif;
    background-color: #121631;
    color: antiquewhite;
    padding-top: 56px; 
}

.mint {
    color: #05D3A2;
}


.dark1 {
    background-color: #121631;
}

.dark1 .navbar-brand,
.dark1 .navbar-nav .nav-link{
    color: antiquewhite;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.dark2 {
    color: #0E1144;
}

.dark3{
    color: #191E48;
}

.dark4{
    background-color: #121631;
    color: antiquewhite;
}

.dark1 .navbar-nav .nav-link.active .nav-link,
.dark1 .navbar-nav .nav-link:hover {
    color: #05D3A2 !important;
}

.dark1 .navbar-nav .nav-link.active {
  color: #05D3A2 !important; /* Set your desired mint color */
}


.navbar-dark .navbar-nav .nav-link {
    color: antiquewhite; /* Set the color for all links */
}

/* //home */

.mu-social-media i {
    color: antiquewhite;
}

.mu-social-media h3 {
    margin-top: 20px;
  }

.mu-social-media a {
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    border: 1px solid #333;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    margin: 5px 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .mu-social-media {
    display: inline;
    float: left;
    width: 100%;
  }

  .mu-featured-slider p {
    font-size: 40px; 
  }

  .mu-featured-slider p,
  #typed,
  #typed span {
    font-family: JetBrains Mono, monospace;
    font-size: 24px;
    color: #05D3A2;
  }

  .mu-featured-content{
    font-size: larger;
  }

  .hire {
    color: antiquewhite;
    background-color: #121631;
    border: 1px solid antiquewhite;
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
    font-weight: bold;
}

.hire:hover {
    background-color: antiquewhite;
    color: #121631;
}

  /* about */

  #about{
    background-color: #0E1144;
  }

  #mu-about {
    display: inline;
    float: left;
    width: 100%;
  }
  
  .mu-about-area {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
  }
  
  
  .mu-about-header {
    display: inline;
    float: left;
    text-align: center;
    padding: 0 120px;
    width: 100%;
  }

  .mu-about-header p {
    margin-bottom: 0;
}

  
  .mu-heading-title {
    color: antiquewhite;
    margin-bottom: 15px;
    position: relative;
  }
  
  .mu-about-content {
    display: inline;
    float: left;
    margin-top: 70px;
    padding: 20px;
    width: 100%;
  }
  
  .mu-about-content-left {
    display: inline;
    float: left;
    width: 100%;
  }
  
  .mu-about-content-right {
    display: inline;
    float: left;
    margin-top: 20px;
    width: 100%;
  }

  .mu-header-dot {
    border-radius: 0;
    height: 3px;
    width: 75px;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #05D3A2
}


/* skills */

.mu-skill-progress-bar {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0; /* Add this line to remove top margin */
    margin-bottom: 0;
}


.skill {
    margin: 20px 0;
    text-align: left;
}

.progress-bar {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: antiquewhite;
}

.progress-bar .progress {
    height: 100%;
    line-height: 20px;
    justify-content: center;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 10px;
    background-color: #05D3A2; /* Set your desired progress bar color */
    transition: width 0.8s ease-in-out;
}


/* services */

.mu-service-header {
  text-align: center;
  padding: 0 15px;
}

.mu-heading-title {
  margin-bottom: 15px;
}

.mu-service-content {
  margin-top: 70px;
}

.mu-service-content-single {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px 10px;
}

.mu-service-icon-box {
  font-size: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  color: #05D3A2; /* Mint color for icon */
  display: inline-block;
  text-align: center;
}



.mu-service-icon-box i {
  color: #05D3A2;
}

.mu-service-content-single h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.mu-service-content-single p {
  font-size: 14px;
  margin-bottom: 0;
  letter-spacing: 0.5px;
} 

#service-content{
  background-color: #0E1144;
  border-radius: 15px;
  height:  250px;
}


/* portfolio */

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  background-color: #0E1144;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
}

.hover-container:hover .project-info {
  opacity: 0.8;
}

.filter-button {
  background-color: #05D3A2;
  color: antiquewhite;
}

.project-info a {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid antiquewhite; /* Outline color */
  border-radius: 50%;
  padding: 6px 7px 4px;
  font-size: 12px;
  color: antiquewhite;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition effect */
}

.project-info a:hover {
  color: #0E1144; /* Dark navy blue */
  background-color: antiquewhite;
}

#portfolio {
  background-color: #0E1144;
}

/* testimonials */
#mu-testimonials {
  padding: 80px 0;
  text-align: center;
}

.mu-quote-icon {
  font-size: 36px;
  color: #05D3A2;
}

.mu-testimonials-block {
  max-width: 800px;
  margin: auto;
}

.mu-testimonial-slide li {
  border: 1px solid antiquewhite;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.mu-ct-name {
  font-size: 18px;
  margin-top: 15px;
}

.mu-ct-title {
  font-size: 14px;
}

.slick-dots {
  display: none !important; /* Hide navigation dots */
}

.slick-prev, .slick-next {
  display: none !important; /* Hide navigation arrows */
}

/* blog */
#blog{
  background-color: #0E1144;
}

#blog-cards{
  background-color: #0E1144;
  border: 1px solid antiquewhite;
  border-radius: 5px;
}

.read-more a{
  text-decoration: none;
  color: #05D3A2;
}

.read-more a:hover{
  color: #09be94;
}


/*--------------------*/
/* CONTACT US */
/*--------------------*/

#mu-contact {
  display: block;
  width: 100%;
}

.mu-contact-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

.mu-contact-header {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  padding: 0 120px;
}

.mu-contact-content {
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 0 120px;
  width: 100%;
}

.mu-contact-top {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

.mu-contact-top-single {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.mu-contact-top-single .mu-icon {
  font-size: 25px;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin-bottom: 15px;
  color: antiquewhite;
  border: 2px solid #05D3A2;
}

.mu-contact-top-single p {
  margin-bottom: 0;
}

.mu-contact-top-single a{
  text-decoration: none;
  color: antiquewhite;
}

.mu-contact-top-single a:hover{
  color: #05D3A2;
}

.mu-contact-bottom {
  display: inline;
  float: left;
  width: 100%;
}

.mu-contact-form button {
  color: antiquewhite;
  border: 2px solid #05D3A2;
}

.mu-contact-form button:hover {
  background-color: #05D3A2;
  color: antiquewhite;
}
.mu-contact-form {
  text-align: center;
}

.mu-contact-form .form-group input {
  background: transparent;
  border-radius: 4px;
  color: #333;
  font-size: 15px;
  border: 1px solid #888;
  height: 45px;
  margin-bottom: 24px;
}

.mu-contact-form .form-group textarea {
  background: transparent;
  border: 1px solid #888;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  padding: 10px;
  height: 190px;
}

.mu-contact-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}
© .mu-contact-form .form-control::-webkit-input-placeholder {
  color: #888;
  font-size: 15px;
}

.mu-contact-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
  font-size: 15px;
}

.mu-contact-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
  font-size: 15px;
}

.mu-contact-form .form-control:-ms-input-placeholder {
  color: #888;
  font-size: 15px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
  padding: 12px 40px;
}

.mu-social-media {
  display: inline;
  float: left;
  width: 100%;
}

#form-messages {
  margin-bottom: 10px;
  background-color: #fff;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


@media (min-width: 992px) {
  body {
      padding-top: 68px; /* Adjust the value based on your fixed navbar height */
  }
}